In [8]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
df = pd.read_csv('dataset/05-insurance_charges.csv')

In [3]:
df.shape

(1338, 7)

In [4]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [18]:

df = df.drop('smoker', axis=1)
df = df.drop('region',axis=1)
df.head()

   age     bmi  children      charges
0   19  27.900         0  16884.92400
1   18  33.770         1   1725.55230
2   28  33.000         3   4449.46200
3   33  22.705         0  21984.47061
4   32  28.880         0   3866.85520

In [19]:
X = df.iloc[:, :-1]
y = df.iloc[:,df.shape[1]-1]

In [60]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=32)

In [61]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [62]:
y_pred = model.predict(X_test)

In [63]:
print(f'b = {model.intercept_}')
print(f'w = {model.coef_}')

b = -6984.621828100968
w = [254.10843027 317.85358804 544.18869398]

In [64]:
print("Mean squared error: %.2f" % mean_squared_error(y_test, y_pred))
print("Coefficient of determination: %.2f" % r2_score(y_test, y_pred))

Mean squared error: 128533116.68
Coefficient of determination: 0.10